@page
@model BedriftsrådetBodø.Pages.LonnModel
@{
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
            <li><a href="/Index">Hjem</a></li>
            <li>Lønn</li>
            </ol>
            <h2>Lønn</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="~/img/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
			    <h3>Lønn</h3>
		        <ul>
					<li>
			            <i class="icofont-check-circled"></i>
					    Vi foretar alle lønnskjøringer for Dem. Vi foretar også alle inn-/ut-/endrings-meldinger som skal gjøres i arbeidstakerregisteret (A-registeret).
					</li>
                    <li>
                        <i class="icofont-check-circled"></i>
                        Vi holder oversikt over sykemeldinger og avregninger, samt refusjoner mot offentlig myndighet som oppstår under årets gang.
                    </li>
                    <li>
                        <i class="icofont-check-circled"></i>
                        Alle terminoppgaver trenger du heller ikke tenke på.
                    </li>
			    </ul>
                <p>
                    Vi foretar alle lønnskjøringer for Dem. Vi foretar også alle inn-/ut-/endrings-meldinger som skal gjøres i arbeidstakerregisteret (A-registeret).
                </p>
                <p>
                    Lønn er et eget kompetanseområde med mange regelendringer og nye satser. For de som bare jobber delvis med lønnsområdet kan det være svært krevende å holde seg løpende oppdatert.
                    Du kan når som helst ta ut de oversikter som ønskes – på fil, skjerm eller papir.
                </p>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
</main>
