@page
@model BedriftsrådetBodø.Pages.RegnskapModel
@{
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
            <li><a href="/Index">Hjem</a></li>
            <li>Regnskap</li>
            </ol>
            <h2>Regnskap</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="~/img/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
			    <h3>Regnskap</h3>
                    <p class="font-italic">
                        Det er viktig å ha optimal struktur i regnskapet, for enklest mulig å 
			            kunne hente ut den informasjon du siden ønsker deg. Dette er en av våre viktigste tjenester.
                    </p>
                    <p>
                        Regnskap er mer enn en historisk sammenstilling av inntekter og kostnader. Regnskapet skal også 
			            kunne gi grunnlag for å være et dynamisk styrings instrument for dine beslutninger/valg. Det 
			            er viktig å ha optimal struktur i regnskapet, for enklest mulig å kunne hente ut den informasjon du 
			            siden ønsker deg. (Avdeling/prosjekt/produkt etc.) Derfor er det viktig å tenke igjennom dine nåværende 
			            og kommende regnskapsmessige behov.
                    </p>
                    <p>
                        Vi kan utføre regnskapsførselen etter dine ønsker. Det være seg at du leverer bilag 
			            i papirform eller i elektronisk form, eller kombinasjon av begge. Med elektronisk menes 
			            enten via mail, bilde eller EHF format. Vi foretar løpende avstemminger og kvalitets 
			            sikrer regnskapet ditt. Løpende rapportering til myndigheter (for eksempel mva, arb.avgift etc). 
			            Vi gjør deg også oppmerksom på lovendringer etc.
                    </p>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
</main>
