@page
@model BedriftsrådetBodø.Pages.SkattModel
@{
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
            <li><a href="/Index">Hjem</a></li>
            <li>Skatt</li>
            </ol>
            <h2>Skatt</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="~/img/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
				    <h3>Skatt</h3>
                    <p class="font-italic">
                        Vi har bred erfaring med utarbeidelse av årsoppgjør for ulike virksomheter – enten det er enkeltmannsforetak, foreninger eller aksjeselskap.
                    </p>
                    <p>
				        Dersom du fører regnskapet selv (egen regi), og kun ønsker hjelp i 
					    forbindelse med årsavslutning, så hjelper vi til med det som er ønskelig. 
					    Dette kan også omfatte utarbeidelse av nødvendige avstemninger, samt innhenting 
					    av bakgrunnsinformasjon for slike. Vi kan også komme med innspill på rutiner etc., 
					    slik at årsavslutningen blir så enkel og oversiktlig som mulig, og at den blir iht. gjeldende lover og regler.
                    </p>
                    <p>
                        En oversiktlig, korrekt og vel dokumentert årsavslutning gjør også revisors arbeid enklere. (ved revisorplikt)
                    </p>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
</main>

