<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["Title"] - Bedriftsråd Bodø</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/lib/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/venobox/venobox.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/css/site.css" rel="stylesheet">
</head>
<body>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-none d-lg-block">
        <div class="container d-flex">
            <div class="contact-info mr-auto">
                <i class="icofont-envelope"></i><a href="mailto:contact@example.com">svend@brbodo.no</a>
                <i class="icofont-phone"></i> +47 412 98 159
            </div>
            
            <!--
            <div class="social-links">
                <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
                <a href="#" class="skype"><i class="icofont-skype"></i></a>
                <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
            </div>
			-->
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container d-flex">
            <div class="logo mr-auto mt-1">
                <!--<h1 class="text-light d-none d-md-block"><a href="/"><span> Bedriftsråd Bodø </span></a></h1>-->
                <!-- Uncomment below if you prefer to use an image logo -->
                <a href="/Index">
                    <!-- logo for big screens -->
		            <img src="img/logo.png" alt="" class="img-fluid d-none d-sm-block">
                    <!-- logo for small screens -->
		            <img src="img/logo-small.png" alt="" class="img-fluid d-xs-block d-sm-none">
		        </a>
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="/">Hjem</a></li>
                    <li><a href="/About">Om</a></li>
                    <li class="drop-down">
                        <a href="/Services">Våre tjenester</a>
                        <ul>
                            <li><a href="/Regnskap">Regnskap</a></li>
                            <li><a href="/Lonn">Lønn</a></li>
                            <li><a href="/Skatt">Skatt</a></li>
                            <li><a href="/Radgiving">Rådgiving</a></li>
                        </ul>
                    </li>

                    <li><a href="/Contact">Kontakt oss</a></li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->

    @RenderBody()

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <!--
        <div class="footer-newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Our Newsletter</h4>
                        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    </div>
                    <div class="col-lg-6">
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
	    -->

        <div class="footer-top">
        <div class="container">
        <div class="row">

        <div class="col-lg-3 col-md-6 footer-links">
            <h4>Sider</h4>
            <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="/Index">Hjem</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="/About">Om oss</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="/Services">Services</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="/Contact">Terms of service</a></li>
            </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
            <h4>Våre tjenester</h4>
            <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="/Regnskap">Regnskap</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="/Lonn">Lønn</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="/Skatt">Skatt</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="/Radgiving">Rådgiving</a></li>
            </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Kontakt oss</h4>
            <p>
                Sjøgata 38<br>
                8006 Bodø <br><br>
                <strong>Telefon:</strong> +47 412 98 159<br>
                <strong>Email:</strong> svend@brbodo.no<br>
            </p>
        </div>

        </div>
        </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Lynx Publishing</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/lib/jquery-sticky/jquery.sticky.js"></script>
    <script src="~/lib/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/lib/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/lib/counterup/counterup.min.js"></script>
    <script src="~/lib/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/lib/venobox/venobox.min.js"></script>

    <!-- Main JS -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
